
<!DOCTYPE html>
<html>
<head>
	<title>ADD NEW CUSTOMER</title>
</head>
<body>
	<h1>ADD NEW CUSTOMER</h1>
	<form action="/addNewCustomerCommit" method="get">
		Customer ID: <input type="text" name="customer_id"><br><br>
		Customer Name: <input type="text" name="customer_name"><br><br>
        Address: <input type="text" name="address"><br><br>
        Phone: <input type="text" name="phone"><br><br>
        Email: <input type="text" name="email"><br><br>       
        <input type="submit" value="Add Customer">
	</form>
</body>
</html>