<!DOCTYPE html>
<html>
<head>
	<title>ADD NEW EMPLOYEE</title>
</head>
<body>
	<h1>ADD NEW EMPLOYEE</h1>
	<form action="/addNewEmployeeCommit" method="get">
		Employee ID: <input type="text" name="employee_id"><br><br>
		Employee Name: <input type="text" name="employee_name"><br><br>
        Gender: <select name="gender">
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                </select><br><br>
        Birthday: <input type="date" name="birthday"><br><br>
        Phone: <input type="text" name="phone"><br><br>
        Email: <input type="text" name="email"><br><br> 
        Address: <input type="text" name="address"><br><br>  
        Position: <input type="text" name="position"><br><br>
        Salary: <input type="text" name="salary"><br><br>    
        <input type="submit" value="Add Employee">
	</form>
</body>
</html>