<!DOCTYPE html>
<html>
<head>
	<title>ADD NEW INVOICE DETAIL</title>
</head>
<body>
	<h1>ADD NEW INVOICE DETAIL </h1>
	<form action="/addNewInvoiceDetailsCommit" method="get">
		Invoice ID: <input type="text" name="invoice_id"><br><br>
		Book ID: <input type="text" name="book_id"><br><br>
        Quantity : <input type="text" name="quantity"><br><br>
        Cost book: <input type="text" name="cost_book"><br><br>
        Total : <input type="text" name="total"><br><br>   
        Customer ID : <input type="text" name="customer_id"><br><br>  
        <input type="submit" value="Add Invoice Detail">
	</form>
</body>
</html>