<!DOCTYPE html>
<html>
<head>
	<title>ADD NEW BOOK</title>
</head>
<body>
	<h1>ADD NEW BOOK</h1>
	<form action="/addNewBookCommit" method="get">
		Book ID: <input type="text" name="book_id"><br><br>
		Book Name: <input type="text" name="book_name"><br><br>
        Authors: <input type="text" name="authors"><br><br>
        Publishing year: <input type="text" name="publishing_year"><br><br>
        Kind of Book: <input type="text" name="kind_of_book"><br><br> 
        Cost: <input type="text" name="cost"><br><br>  
        Quantity: <input type="text" name="quantity"><br><br>
        <input type="submit" value="Add Book">
	</form>
</body>
</html>