<!DOCTYPE html>
<html>
<head>
	<title>ADD NEW INVOICE</title>
</head>
<body>
	<h1>ADD NEW INVOICE</h1>
	<form action="/addNewInvoiceCommit" method="get">
		Invoice ID: <input type="text" name="invoice_id"><br><br>
		Customer ID: <input type="text" name="customer_id"><br><br>
        Employee ID: <input type="text" name="employee_id"><br><br>
        Date of invoice: <input type="date" name="date_of_invoice"><br><br>
        Total invoice: <input type="text" name="total_invoice"><br><br>    
        <input type="submit" value="Add Invoice">
	</form>
</body>
</html>