<!DOCTYPE html>
<html>
  <head>
    <title>Add New Work At</title>
  </head>
  <body>
    <h1>Add New Work At</h1>
    <form action="/addNewWorkAtCommit" method="get">
      <label for="employee_id">Employee ID:</label>
      <input type="text" id="employee_id" name="employee_id"><br><br>
      <label for="number_book_shelf">Number of Book Shelf:</label>
      <input type="text" id="number_book_shelf" name="number_book_shelf"><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>