<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông Tin Sách</title>
</head>
<body>
    <h1> Thông Tin Sách</h1>
    <table border="2">
        <tr>
            <th> Book ID </th>
            <th> Book Name </th>
            <th> Authors </th>
            <th> Publishing Year </th>
            <th> Kind of Book</th>
            <th> Cost </th>
            <th> Quantity </th>
        </tr> 
        {% for book in books %}
        <tr>
            <td>{{ book.book_id }}</td>
            <td>{{ book.book_name }}</td>
            <td>{{ book.authors }}</td>
            <td>{{ book.publishing_year }}</td>
            <td>{{ book.kind_of_book }}</td>
            <td>{{ book.cost }}</td>
            <td>{{ book.quantity }}</td>   
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('select') }}">Trang chủ</a>
    </body>
</html>